{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <!-- Meta Tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Conteúdo sobre a Segurança Pública no estado do Maranhão (MA) - Brasil">
    <meta name="keywords" content="Maranhão, site, segurança pública">
    <meta name="robots" content="index, follow">

    <!-- CSS links -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"> 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    
    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;1,500&family=Nunito:ital,wght@0,300;0,400;1,300&display=swap" rel="stylesheet">

    <link rel="shortcut icon" href="{% static 'img/logo.png' %}" type="image/x-icon">

    <title> SEGURANÇA PÚBLICA - MARANHÃO </title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark" style="background: linear-gradient(to right, #b06ab3, #4568dc);">
            <div class="container-fluid">
              <a class="navbar-brand" href="#"> 
                <img src="{% static 'img/logo.png' %}" alt="" width="64" height="60">   
                Segurança Pública - Maranhão </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'Home' %}"> INÍCIO </a>
                  </li>         
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Órgãos Responsáveis
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="{% url 'Penal' %}"> POLÍCIA PENAL </a></li>
                      <li><a class="dropdown-item" href="{% url 'Guarda' %}"> GUARDA MUNICIPAL </a></li>
                      <li><a class="dropdown-item" href="{% url 'Bombeiros' %}"> CORPO DE BOMBEIROS </a></li>
                      <li><a class="dropdown-item" href="{% url 'Militar' %}"> POLÍCIA MILITAR </a></li>
                      <li><a class="dropdown-item" href="{% url 'Civil' %}"> POLÍCIA CIVIL  </a></li>
                    </ul>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'Sobre' %}"> Quem Somos?</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
    </header>
    
    <section>
      <div class="container">
        <div class="row">
          <div class="col-sm-12 my-3">
            <h2 id="topo" class="text-center"> POLÍCIA MILITAR </h2>
            <p style="color: purple" class="text-center"> Você sabe como atua esse órgão?</p>

            <p>
              A Polícia Militar do Maranhão ( PMMA ) tem por função primordial o policiamento ostensivo e a preservação da ordem pública no Estado do Maranhão. Ela é Força Auxiliar e Reserva do Exército Brasileiro, e integra o Sistema de Segurança Pública e Defesa Social do Brasil. Seus integrantes são denominados Militares dos Estados, assim como os membros do Corpo de Bombeiros Militares do Maranhão.
            </p>

            <img src="{% static 'img/militar.jpg' %}" alt="brasão da polícia militar" id="img">

            <p> <strong> Estrutura Operacional </strong></p>
            <hr>
            <p> CME - Comando de Missões Especiais
              Subordinado diretamente ao Comando-Geral, é responsável pela preservação da ordem pública em apoio aos demais comandos intermediários, com circunscrição em todo o Estado, competindo-lhe o planejamento, comando, coordenação, fiscalização e controle operacional e administrativo dos órgãos e unidades especiais subordinadas, de acordo com as diretrizes e ordens do Comando-Geral. (Medida Provisória n° 264, 18/12/17).
              Com as seguintes Unidades: </p>

              <p>BOPE - (Batalhão de Operações Especiais) "Cap PM Daniel Nunes Esteves" com sede no município de São Luis/MA.
              COE (Comando de Operações Especiais); 
              COSAR (Comando de Operações e Sobrevivência em Área Rural);
              ROTAM (Rondas Ostensivas Tático Móvel).
              BPChoq - (Batalhão de Polícia Militar de Choque) "Maj QOPM Luís Fábio Siqueira Silva" com sede no município de São Luís/MA. 
              CDC (Companhia de Controle de Distúrbio Civis);
              Esquadrão Águia; 
              CANIL.
              CPE - Comando de Policiamento Especializado.</p>
              
              <p>
              CPE - Comando de Policiamento Especializado
              Subordinado diretamente ao Comando-Geral, é responsável pela preservação da ordem pública em apoio aos demais comandos intermediários, com circunscrição em todo o Estado, competindo-lhe o planejamento, comando, coordenação, fiscalização e controle operacional e administrativo dos órgãos e unidades especiais subordinadas, de acordo com as diretrizes e ordens do Comando-Geral. (Medida Provisória n° 145, 25/02/13).</p>

              <p> CPM: comando de policiamento metropolitano 
              Órgão diretamente subordinado ao Comandante Geral, responsável pela preservação da Ordem Pública em toda região metropolitana, compreendendo todos os Comandos de Policiamento de Área Metropolitana (CPAM’s), competindo-lhe o planejamento, comando, coordenação, fiscalização e controle operacional e administrativo dos órgãos, unidades e subunidades, de acordo com as diretrizes e ordens do Comando Geral. - Lei n°11.346, de 29/09/20.</p>

              <p>CSC - Comando de Segurança Comunitária
              Órgão subordinado diretamente ao Comando-Geral, responsável pela preservação da ordem pública na capital e no interior do Estado, competindo-lhe o planejamento, comando, coordenação, fiscalização, controles Operacional e administrativo dos órgãos, unidades de Segurança Comunitária (USC) subordinadas, de acordo com as diretrizes e ordens do Comando-Geral. (Lei n° 10.131, 30/07/14).
            </p>

            <hr>
              <p>Conheça o corpo de bombeiros:
                <a href="{% url 'Bombeiros' %}">Clique aqui!</a></p>
          </div>
        </div>
      </div>

    </section>

       <!-- Libras -->
       <div vw class="enabled">
        <div vw-access-button class="active"></div>
        <div vw-plugin-wrapper>
          <div class="vw-plugin-top-wrapper"></div>
        </div>
      </div>
      <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
      <script>
        new window.VLibras.Widget('https://vlibras.gov.br/app');
      </script>

    <footer>
      <div class="rodape my-3">
        <h5> Segurança Pública - Maranhão </h5>
        <p> &copy 2021 </p>
        </div>
      </div>
    </footer>


    <!-- Boostrap Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
</body>
</html>